@tailwind base;
@tailwind components;
@tailwind utilities;

.preload * {
    transition: none !important;
}

* {
    @apply transition-colors duration-300 ease-in-out;
}

.theme {
    @apply bg-bg_light text-text_light dark:bg-bg  dark:text-text
}

.panel-theme {
    @apply bg-panel_light text-text_light dark:bg-panelLight dark:text-text
}

.panelLight-theme {
    @apply bg-panel_light text-text_light dark:bg-panel dark:text-text
}

.card-theme {
    @apply bg-bg_light text-text_light dark:bg-bg dark:text-text
}

.btn-theme {
    @apply  border bg-bg_light text-text_light hover:bg-panelLight_light border-border_light dark:bg-bg dark:text-text dark:hover:bg-primaryHover dark:border-border
}

.icon-theme {
    @apply text-text_light dark:text-text;
}

.border-theme {
    @apply border border-border_light dark:border-border;
}

.borderColor {
    @apply border-border_light dark:border-border;
}

.card-hover {
    @apply cursor-pointer transform transition-transform hover:scale-105;
}