@tailwind base;
@tailwind components;
@tailwind utilities;

.preload * {
    transition: none !important;
}

* {
    @apply transition-colors duration-300 ease-in-out;
}

.theme {
    @apply bg-text dark:bg-bg text-bg dark:text-text
}

.card-theme {
    @apply bg-text dark:bg-bg text-bg dark:text-text
}

.card-hover {
    @apply cursor-pointer transform transition-transform hover:scale-105;
}